@page "/predict"

<h1>Single file</h1>

<p>A single file input that uploads automatically on file selection</p>

<InputFile OnChange="HandleSelection" />

<p>@status</p>

@code {
    string status;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            var img =  ms.ToArray();
            
            Bitmap bmp = new Bitmap(ms);
            bmp.Save("./Model/assets/inputs/images/img.jpg", System.Drawing.Imaging.ImageFormat.Jpeg);

            status = $"Finished loading {file.Size} bytes from {file.Name}";
        }
    }
}