@page "/predict"

<h1>Single file</h1>

<p>A single file input that uploads automatically on file selection</p>

<InputFile  OnChange="HandleSelection" />

<p>@status</p>

@{
    if (fileUploaded) {
        <img src="/Image/img.jpg" alt=@src width="300px" />
    }
}


@code {
    string status;
    bool fileUploaded = false;
    string src = "./Model/assets/inputs/images/img.jpg";

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            var img =  ms.ToArray();
            
            Bitmap bmp = new Bitmap(ms);
            bmp.Save(src, System.Drawing.Imaging.ImageFormat.Jpeg);

            status = $"Файл {file.Name} загружен";
            fileUploaded = true;
        }
    }
}